/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *
 */
/* line 14, /Users/apple/Dropbox/cosi166b_shuchen/BarterMe/BarterMe/app/assets/stylesheets/application.css.scss */
#banner {
  background: #9c9;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Papyrus", serif;
  color: #282;
  text-align: center;
}
/* line 22, /Users/apple/Dropbox/cosi166b_shuchen/BarterMe/BarterMe/app/assets/stylesheets/application.css.scss */
#banner img {
  float: left;
}

/* line 27, /Users/apple/Dropbox/cosi166b_shuchen/BarterMe/BarterMe/app/assets/stylesheets/application.css.scss */
#columns {
  background: #141;
}
/* line 30, /Users/apple/Dropbox/cosi166b_shuchen/BarterMe/BarterMe/app/assets/stylesheets/application.css.scss */
#columns #main {
  margin-left: 17em;
  padding: 0;
  background: white;
}
/* line 37, /Users/apple/Dropbox/cosi166b_shuchen/BarterMe/BarterMe/app/assets/stylesheets/application.css.scss */
#columns #side {
  float: left;
  padding: 1em 2em;
  height: 13em;
  background: #141;
}
/* line 44, /Users/apple/Dropbox/cosi166b_shuchen/BarterMe/BarterMe/app/assets/stylesheets/application.css.scss */
#columns #side ul {
  padding: 0;
}
/* line 46, /Users/apple/Dropbox/cosi166b_shuchen/BarterMe/BarterMe/app/assets/stylesheets/application.css.scss */
#columns #side ul li {
  list-style: none;
}
/* line 48, /Users/apple/Dropbox/cosi166b_shuchen/BarterMe/BarterMe/app/assets/stylesheets/application.css.scss */
#columns #side ul li a {
  color: #bfb;
  font-size: small;
}
