<h1>Welcome</h1>

It's now <%= Time.now %>
We have <%= pluralize(@total_users, "user") %>
And they are trading <%= pluralize(@total_items, "item") %>

<%= link_to "Log out", logout_path, method: "delete" %>
