/* change background color and get rid of it*/
 .navbar-default {
    background-color: rgba(255, 178, 102, 0.9);
    border-color: #030033;
    font-color: #FFFFFF;
}

.jumbotron {
   background: rgba(100, 30, 30, 0.7); 
}

.image-size {
  max-width: 100px;
  max-height: 100px;
}
