/* change background color and get rid of it*/
 .navbar-default {
    background-color: rgba(20, 100, 54, 0.2);
    border-color: #030033;
    font-color: #FFFFFF;
}

.jumbotron {
   background: rgba(100, 30, 30, 0.7); 
}

