// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.users {
	h1 {
		margin: 0;
		padding-bottom: 0.5em;
		font: 150% sans-serif;
		color: #226;
		border-bottom: 3px dotted #77d;
	}
}