<%= stylesheet_link_tag "welcome" %>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="row">
  <div class="container-fluid" style="margin-bottom: 1px">
      <div class="col-md-6" style="padding-left:10px; padding-right:10px; padding-top:20px; text-shadow: 2px 2px black; ">
        <div class="jumbotron">
	  <h2> Our Listings </h2>
	   <p><font size="5">
	     <% @all_categories.sort.each do |k, v| %>
	     <%= link_to k, items_path(:query => k) %>
	     <%= "(" + "#{v}" + ")" %><br>
	     <% end %>
	</div>
      </div>
  </div>
</div>
