<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<center>
<h1>Welcome</h1>
  <%= stylesheet_link_tag "welcome" %>
<div class="row">
This is BarterMe. 
</center>
<div class="container-fluid" style="margin-bottom: 1px">
	<div class="span4">
		<div class="col-md-4" style="padding-left:20px; border-left: 1px solid #ccc">
			<h2> TOP LISTINGS</h2>
			<p>
			These are all of our top listings
			</p>
		</div>
		<div class="span4">
			<div class="col-md-4" style="padding-left:20px; border-left: 1px solid #ccc">
				<h2> BARTER OF THE DAY</h2>
				<p>
					These are something else
				</p>
			</div>
		</div>
		<div class="span4">
			<div class="col-md-4" style="padding-left:20px; border-left: 1px solid #ccc">
				<h2> RECOMMENDED BARTERS </h2>
				<p>
					These are something else
				</p>
			</div>
		</div>
	</div>
	</div>
</div>

<%= link_to "Check out the goodies", items_path %>
 