/* change background color and get rid of it*/
 .navbar-default {
    background-color: rgba(255, 178, 102, 0.9);
    border-color: #030033;
    font-color: #FFFFFF;
}


 .nav-tabs {
    background-color: rgba(0, 0, 0, 0.7);
     border-color: #030033;
     font-color: #FFFFFF;
}

.flash-message {
.notice {
    border: solid 10px #26722D;
    border-color: rgba(255, 178, 102, 1.0);
          background-color: #A4E7A0;
        };

.error {
    border: solid 10px #26722D;
    border-color: rgba(255, 178, 102, 1.0);
          background-color: #A4E7A0;
        };

.alert {
    border: solid 10px #26722D;
    border-color: rgba(255, 178, 102, 1.0);
          background-color: #A4E7A0;
        };
}


.jumbotron {
   background: rgba(100, 30, 30, 0.7); 
}

.image-size {
  max-width: 100px;
  max-height: 100px;
}
