
body {
    color: white;
	background-color: #cccccc;
	background-image: url("market_greyed.jpg");
	background-size: cover;
}


center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: #b0e0e6;
}
